@import '../../variables';
@import '../../mixins';

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-header;
  box-shadow: 0 2px 8px rgba($black, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  background: rgba($black, 0.6);

  &.header-hidden {
    transform: translateY(-100%);
  }

  .container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20px;
  }

  .logo {
    img {
      height: 35px;
    }
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-left: 2rem;

        a {
          color: $white; // Изменено на белый цвет
          text-decoration: none;
          font-weight: 500;
          transition: color 0.3s ease;

          &:hover {
            color: $accent-color; // Изменено на акцентный цвет при наведении
          }
        }
      }
    }
  }

  .burger {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 24px;
    position: relative;
    bottom: 10px;

    .line {
      width: 100%;
      height: 3px;
      background-color: $white; // Изменено на белый цвет
      position: absolute;
      transition: all 0.3s ease;

      &:nth-child(1) { top: 0; }
      &:nth-child(2) { top: 50%; transform: translateY(-50%); }
      &:nth-child(3) { bottom: 0; }
    }
  }

  @include mobile {
    height: 60px;
    overflow: hidden;

    &.menu-open {
      height: auto;
    }

    .container {
      flex-wrap: wrap;
    }

    nav {
      flex-basis: 100%;
      order: 3;

      ul {
        flex-direction: column;
        align-items: flex-end;
        padding: 20px 0;

        li {
          margin: 10px 0;
          opacity: 0;
          transform: translateX(20px);
          transition: opacity 0.3s ease, transform 0.3s ease;

          a {
            font-size: 1.2rem;
            color: $white; // Убедимся, что цвет остается белым на мобильных устройствах
          }
        }
      }
    }

    &.menu-open nav ul li {
      opacity: 1;
      transform: translateX(0);
      transition-delay: calc(var(--item-index) * 0.05s);
    }

    .burger {
      display: block;
    }

    &.menu-open .burger {
      .line:nth-child(1) {
        transform: translateY(10.5px) rotate(65deg);
        width: 80%;
        left: 0;
      }

      .line:nth-child(2) {
        opacity: 0;
      }

      .line:nth-child(3) {
        transform: translateY(-10.5px) rotate(115deg);
        width: 80%;
        left: 20%;
      }
    }
  }
}